<!-- Footer -->
<div class="wave">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 150 1440 170">
    <path fill="#8E54E9" fill-opacity="1"
      d="M0,288L34.3,277.3C68.6,267,137,245,206,218.7C274.3,192,343,160,411,165.3C480,171,549,213,617,218.7C685.7,224,754,192,823,197.3C891.4,203,960,245,1029,272C1097.1,299,1166,309,1234,288C1302.9,267,1371,213,1406,186.7L1440,160L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
    </path>
  </svg>
</div>
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h3>Services</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Admin</a></li>
            <li><a href="#" class="text-decoration-none">Doctor</a></li>
            <li><a href="#" class="text-decoration-none">Patient</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h3>About</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Company</a></li>
            <li><a href="#" class="text-decoration-none">Team</a></li>
            <li><a href="#" class="text-decoration-none">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>MeDix Pvt LTd</h3>
          <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus
            elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
        </div>
        <div class="col-12 item social text-md-center">
          <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></i></a>
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="instagram"><span class="fab fa-instagram"></span></a>
        </div>
        <div class="col-12 mt-2">
          <p class="copyright">MeDix © 2021</p>
        </div>
      </div>
    </div>
  </footer>
</div>