{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block styles %}{% endblock styles %}
</head>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            {% include "core/sidebar.html" %}
        </div>
        <div id="main" class="bg-light">
            <nav class="navbar navbar-header navbar-expand navbar-dark bg-dark">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src="{% static 'core/img/male-avatar.svg' %}" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Hi, {{ request.user.first_name }}</div>
                            </a>
                            {% if request.user.is_admin %}
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#"><i class="fas fa-users-cog text-success"></i> Account Settimg</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'admin_signout' %}"><i class="fas fa-sign-out-alt text-danger"></i> Logout</a>
                                </div>
                            {% elif request.user.is_doctor %}
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#"><i class="fas fa-users-cog text-success"></i> Account Settimg</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'doctor_signout' %}"><i class="fas fa-sign-out-alt text-danger"></i> Logout</a>
                                </div>
                            {% elif request.user.is_patient %}
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#"><i class="fas fa-users-cog text-success"></i> Account Settimg</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'patient_signout' %}"><i class="fas fa-sign-out-alt text-danger"></i> Logout</a>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Jquery Script CDN -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
    </script>
    <!-- Custom Script -->
    {% block script %}{% endblock script %}
</body>
</html>